<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/pic/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-containt">
            {{>header}}
            <p> This site was created by Manoj. It uses data from mapbox and weatherBit!</p>
            <img class="portrait" src="/pic/wip.gif">
                
        </div>
        {{>footer}}
    </body>

</html>