<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/pic/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-containt">
            {{>header}}
            <p>here we are you help you</p>
        </div>
        {{>footer}}
    </body>

</html>